{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-exponentiation-operator",
    ["import", {
      "libraryName": "antd"
    }]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "mocker": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
